html {
    scroll-behavior: smooth;
}

.content {
    margin-top: 20px;
}
  
.gallery img {
    transition: .4s;
    padding: 5px;
    width: 250px;
    height: 200px;
}
.gallery img:hover {
    transform: scale(1.2);
}

@media only screen and (min-width: 830px) {
    .fill-con{
        height: 100vh;
    }
  }